.block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 20px;
    margin: 20px;
}

.box {
    width: 100%;
    padding: 37% 0 0 0;
    color: white;
    font-size: 180%;
    font-weight: bold;
    background-color: rgb(22, 22, 22);
    box-shadow: 1px 1px 15px 1px rgb(0, 0, 0);
    border: 2px solid white;
    text-decoration: none;
    transition: 0.2s;
}
.setting {
    background-color: rgb(94, 0, 0);
}

.box:hover {
    background-color: #d3d3d3;
    color: black;
    box-shadow: 1px 1px 15px 1px rgb(201, 201, 201);
    border: 3px solid rgb(255, 255, 255);
}